/* Year view specific styles */
.monthWidget { width: 300px; float: left; height: 225px; margin: 0 10px; }
.monthWidget .dowHeader { clear: both; height: 25px; font-weight: bold; }
.monthWidget .mHeader { font-weight: bold; height: 20px; padding: 4px; border-bottom: solid 1px grey; cursor: pointer; }
.monthWidget .mHeader.curMonth { background-color: #d6e9c6; }

.ymCells { clear: both; }
.ymCell, .monthWidget .dow { border-collapse: collapse; border: solid #FFF 1px; float: left; width: 57px; }
.ymCell:hover { border-color: #A4C7B3; cursor: pointer; }
.ymCell { height: 25px; position: relative; background-color: #925555; color:white;}
.ymCellDay, .monthWidget .dow>span { margin: 2px; display: inline-block; box-sizing: border-box; }
.ymCellComment { position: absolute; bottom: 1px; right: 3px; font-size: 12px; line-height: 12px; color: #FDFDBD; }

.ymCell.ymCellCount-1 {background-color: #556D92;}
.ymCell.ymCellCount-2 {background-color: #775592;}
.ymCell.ymCellCount-3 {background-color: #8D5592;}
.ymCell.ymCellCount-0, .ymCell.notDate {background-color:transparent;color:#333;}

.ymCell.ymCellType-Requested {border-color:#0c0;opacity:0.6;border-style: dashed;}
.ymCell.ymCellType-Approved {border-color:#0c0}
.ymCell.ymCellType-Rejected {border-color:#c00;border-style:dotted;background-color:#eee;opacity:0.4;}

.ymCell.ymCellType-bh {background-color: #ccc;color:white;}
.ymCell.today {background-color:#d6e9c6;}
/* End year view specific styles */
	
/* Month view specific styles */
.singleMonthView {width:100%; height:100%;float:none;box-sizing: border-box;}
.singleMonthView .dowHeader { clear: both; height: 35px; font-weight: bold;border-left: 1px solid #eee;box-sizing: border-box; }
.mCells { clear: both; border-left: 1px solid #eee; float:left;width:100%;}
.mCell, .singleMonthView .dow { border-collapse: collapse; float: left; width: 19.5%;box-sizing: border-box; }
.singleMonthView .dow {background-color: #f5f5f5;height:100%;border-bottom:1px solid #333; }
.mCell:hover { border-color: #A4C7B3; cursor: pointer; }
.mCell { height: 6em; position: relative; background-color: #925555; color:white;border-top: 1px solid #fff; border-left: 1px solid #fff; border-right:1px solid #eee; border-bottom:1px solid #eee;}
.mCellDay, .singleMonthView .dow>span { margin: 5px 10px;display: inline-block;box-sizing: border-box;float: left;width: 30px; overflow-y:scroll; }
.mCellDay {height:100%;}
.mCellStaff { margin-top: 5px; margin-left:48px; }

.mCell.mCellCount-1 {background-color: #556D92;}
.mCell.mCellCount-2 {background-color: #775592;}
.mCell.mCellCount-3 {background-color: #8D5592;}
.mCell.mCellCount-0, .mCell.notDate {background-color:transparent;color:#333;}

#my-holiday .mCell.mCellCount-0 .mCellStaff {color:#ccc;}

.mCell.mCellType-Requested {border-color:#0c0;opacity:0.6;border-style: dashed;}
.mCell.mCellType-Approved {border-color:#0c0}
.mCell.mCellType-Rejected {border-color:#c00;border-style:dotted;background-color:#eee;opacity:0.4;}

.mCell.mCellType-bh {background-color: #ccc;color:white;}
.mCell.today {background-color:#d6e9c6;}
/* End month view specific styles */

/* Generic styles */
.page-header>h2 { width: 600px; }
.totalHols { display: inline-block; width: 640px; text-align: right; position: relative; top: 10px; font-weight: bold; font-size: 14px; }

.holiday { background-color: #08c; }
.dowHidden, .notDate { width: 0; padding: 0; margin: 0; }

.holSubHeader { margin-bottom: 20px; }
.holNotification, .yearSelector { display: inline-block; }
.yearSelector { margin-left: 12px; width: 630px; float: left; }
.holNotification { width: 600px; text-align: right; background-color: #FFF; margin-top: -15px; }
.holNotification>ul { list-style-type: none; }
.holNotification li { font-size: 12px; color: #555; }
	
.blankDate { background-color: #FFF }
.modal textArea { width: 100%; }